[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = ">2.*"
grpcio = "1.18"
grpcio-tools = "1.18"
apscheduler = ">3.5"
netifaces = ">0.10"

[requires]
python_version = "3.7"
