{% extends 'base.html' %}

{% block titleheader %}
Dashboard
{% endblock titleheader %}

{% block navitems %}
<li class="nav-item">
<a class="nav-link active" href="dashboard">
  <span data-feather="home"></span>
  Dashboard <span class="sr-only">(current)</span>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="tasks">
  <span data-feather="clipboard"></span>
  Task
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="groups">
  <span data-feather="package"></span>
  Groups
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="nodes">
  <span data-feather="git-commit"></span>
  Nodes
</a>
</li>
{% endblock navitems %}

{% block content_accordion %}
    <h3>Node Groups:
        <a href="groups"><font size="2">Details</font></a> </h3>
{% if node_groups %}
{% for group in node_groups %}
    <div class="card">
        <div class="card-header" id="heading-grp-{{forloop.counter}}">
            {{ group.groupname}} ({{ group.node_count }} nodes)
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="alert alert-danger" role="alert">
        There are no node groups.
    </div>
{% endif %}
<br/>
    <h3>Available Nodes:
        <a href="nodes"><font size="2">Details</font></a> </h3>
{% if available_node_set %}
{% for node in available_node_set %}
    <div class="card border-success mt-2">
        <div class="card-header" id="heading-{{forloop.counter}}">
            {{node.hostname}} @ {{node.ip}}:{{node.port}}
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="alert alert-danger" role="alert">
        There are no available nodes.
    </div>
{% endif %}
{% if task_set %}
<br/>
    <h3>Scheduled Tasks:
    <a href="tasks"><font size="2">Details</font></a> </h3>
    {% for task in task_set %}
    <div class="card mt-2">
        <div class="card-header" id="heading-task-{{forloop.counter}}">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-task-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-task-{{forloop.counter}}">
                    {{task.taskName}}
                </button>
            </h2>
        </div>
        <div id="collapse-task-{{forloop.counter}}" class="collapse" aria-labelledby="heading-task-{{forloop.counter}}" data-parent="#taskAccordion">
            <div class="card-body">
                Creation Time: {{task.createTime}} <br/>
                Start Time: {{task.startTime}} <br/>
                Task UUID: {{task.taskUUID}} <br/>
            </div>
        </div>
    </div>
    {% endfor %}
{% elif not in_progress %}
    <br/>
    <h3>Scheduled Tasks:
    <a href="tasks"><font size="2">Details</font></a> </h3>
    <div class="alert alert-danger" role="alert">
        There are no upcoming tasks.
    </div>
    {% endif %}
{% if in_progress %}
<br/>
    <h3>In Progress Tasks:
    <a href="tasks"><font size="2">Details</font></a> </h3>
    {% for task in in_progress %}
    <div class="card border-warning mt-2">
        <div class="card-header" id="heading-progress-{{forloop.counter}}">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-progress-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-progress-{{forloop.counter}}">
                    {{task.taskName}}
                </button>
            </h2>
        </div>
        <div id="collapse-progress-{{forloop.counter}}" class="collapse" aria-labelledby="heading-progress-{{forloop.counter}}">
            <div class="card-body">
                Creation Time: {{task.createTime}} <br/>
                Start Time: {{task.startTime}} <br/>
                Task UUID: {{task.taskUUID}} <br/>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock content_accordion %}