{% extends 'base.html' %}

{% block titleheader %}
Dashboard
{% endblock titleheader %}

{% block navitems %}
<li class="nav-item">
<a class="nav-link active" href="dashboard">
  <span data-feather="home"></span>
  Dashboard <span class="sr-only">(current)</span>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="tasks">
  <span data-feather="clipboard"></span>
  Tasks
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="nodes">
  <span data-feather="git-commit"></span>
  Nodes
</a>
</li>
{% endblock navitems %}

{% block content_accordion %}
<div class="accordion" id="nodeAccordion">
    <h3>Available Nodes:
        <a href="nodes"><font size="2">Details</font></a> </h3>
{% if available_node_set %}
{% for node in available_node_set %}
    <div class="card border-success">
        <div class="card-header" id="heading-{{forloop.counter}}">
            {{node.hostname}} @ {{node.ip}}:{{node.port}}
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="alert alert-danger" role="alert">
        There are no available nodes.
    </div>
{% endif %}
</div>
<br/>
<div class="accordion" id="taskAccordion">
    <h3>Scheduled Tasks:
    <a href="tasks"><font size="2">Details</font></a> </h3>
{% if task_set %}
{% for task in task_set %}
    <div class="card">
        <div class="card-header" id="heading-task-{{forloop.counter}}">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-task-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-task-{{forloop.counter}}">
                    {{task.taskName}}
                </button>
            </h2>
        </div>
        <div id="collapse-task-{{forloop.counter}}" class="collapse" aria-labelledby="heading-task-{{forloop.counter}}" data-parent="#taskAccordion">
            <div class="card-body">
                Creation Time: {{task.createTime}} <br/>
                Start Time: {{task.startTime}} <br/>
                Task UUID: {{task.taskUUID}} <br/>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="alert alert-danger" role="alert">
        There are no upcoming tasks.
    </div>
{% endif %}
</div>
{% endblock content_accordion %}