{% extends 'base.html' %}

{% block titleheader %}
List of Available Nodes
{% endblock titleheader %}

{% block navitems %}
<li class="nav-item">
<a class="nav-link" href="dashboard">
  <span data-feather="home"></span>
  Dashboard
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="tasks">
  <span data-feather="clipboard"></span>
  Tasks
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="groups">
  <span data-feather="package"></span>
  Groups
</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="nodes">
  <span data-feather="git-commit"></span>
  Nodes <span class="sr-only">(current)</span>
</a>
</li>
{% endblock navitems %}

{% block toggleButton %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOffline" aria-expanded="false" aria-controls="collapseOffline">Toggle Offline</button>
<form action="#" method="get">
 <input type="submit" class="btn btn-primary" value="Refresh" name="refresh">
</form>
{% endblock toggleButton %}

{% block content_accordion %}
<div class="accordion" id="contentAccordion">
{% if offline_node_set or available_node_set %}
{% for node in available_node_set %}
    {% if node.status == 'Busy' %}
    <div class="card border-warning">
    {% else %}
    <div class="card border-success">
    {% endif %}
        <div class="card-header" id="heading-{{forloop.counter}}">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-{{forloop.counter}}">
                    {{node.hostname}}
                </button>
            </h2>
        </div>
        <div id="collapse-{{forloop.counter}}" class="collapse" aria-labelledby="heading-{{forloop.counter}}" data-parent="#contentAccordion">
            <div class="card-body">
                Status: {{node.status}}<br/>
                {% if node.status == 'Busy' %}
                Task ID: {{node.currentTask}}<br/>
                {% endif %}
                IP Address: {{node.ip}}<br/>
                Access Port: {{node.port}}<br/>
                UUID: {{node.nodeUUID}}<br/>
                {% if node.comments != '' %}
                Comments: node.comments
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="collapse" id="collapseOffline">
        {% for node in offline_node_set %}
        <div class="card border-danger">
            <div class="card-header" id="heading-offline-{{forloop.counter}}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-offline-{{forloop.counter}}" aria-expanded="false" aria-controls="collapse-offline-{{forloop.counter}}">
                        {{node.hostname}}
                    </button>
                </h2>
            </div>
            <div id="collapse-offline-{{forloop.counter}}" class="collapse" aria-labelledby="heading-offline-{{forloop.counter}}" data-parent="#contentAccordion">
                <div class="card-body">
                    Status: {{node.status}}<br/>
                    IP Address: {{node.ip}}<br/>
                    Access Port: {{node.port}}<br/>
                    UUID: {{node.nodeUUID}}<br/>
                    {% if node.comments != '' %}
                    Comments: node.comments
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-danger" role="alert">
        There are no nodes to display.
    </div>
{% endif %}
    </div>
</div>
{% endblock content_accordion %}