{% extends 'base.html' %}

{% block titleheader %}
List of Available Nodes
{% endblock titleheader %}

{% block toggleButton %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOffline" aria-expanded="false" aria-controls="collapseOffline">Toggle Offline</button>
<form action="#" method="get">
 <input type="submit" class="btn btn-primary" value="Refresh" name="refresh">
</form>
{% endblock toggleButton %}

{% block content_accordion %}
<div class="accordion" id="contentAccordion">
{% if offline_node_set %}
{% for node in available_node_set %}
    <div class="card">
        <div class="card-header" id="heading-{{forloop.counter}}">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-{{forloop.counter}}">
                    {{node.hostname}}
                </button>
            </h2>
        </div>
        <div id="collapse-{{forloop.counter}}" class="collapse" aria-labelledby="heading-{{forloop.counter}}" data-parent="#contentAccordion">
            <div class="card-body">
                Status: {% if node.available %} Available {% else %} Offline {% endif %}<br/>
                IP Address: {{node.ip}}<br/>
                Port: {{node.port}}<br/>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="collapse" id="collapseOffline">
        {% for node in offline_node_set %}
        <div class="card">
            <div class="card-header" id="heading-offline-{{forloop.counter}}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-offline-{{forloop.counter}}" aria-expanded="false" aria-controls="collapse-offline-{{forloop.counter}}">
                        {{node.hostname}}
                    </button>
                </h2>
            </div>
            <div id="collapse-offline-{{forloop.counter}}" class="collapse" aria-labelledby="heading-offline-{{forloop.counter}}" data-parent="#contentAccordion">
                <div class="card-body">
                    Status: {% if node.available %} Available {% else %} Offline {% endif %}<br/>
                    IP Address: {{node.ip}}<br/>
                    Port: {{node.port}}<br/>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-danger" role="alert">
        There are no nodes to display.
    </div>
{% endif %}
</div>
{% endblock content_accordion %}