{% extends 'base.html' %}
{% load ngutils %}

{% block titleheader %}
Search Results for '{{ query }}'
{% endblock titleheader %}

{% block navitems %}
<li class="nav-item">
<a class="nav-link" href="/dashboard">
  <span data-feather="home"></span>
  Dashboard
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/tasks">
  <span data-feather="clipboard"></span>
  Tasks
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/groups">
  <span data-feather="package"></span>
  Groups
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/nodes">
  <span data-feather="git-commit"></span>
  Nodes
</a>
</li>
{% endblock navitems %}

{% block content_accordion %}
{% if m_nodes or m_grp or m_task %}
    {% if m_nodes %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h3">Nodes</h1>
        </div>
        {% for node in m_nodes %}
            <div class="card mt-2">
                <div class="card-header" id="heading-offline-{{forloop.counter}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-offline-{{forloop.counter}}" aria-expanded="false" aria-controls="collapse-offline-{{forloop.counter}}">
                            {{node.hostname}}
                        </button>
                    </h2>
                </div>
                <div id="collapse-offline-{{forloop.counter}}" class="collapse" aria-labelledby="heading-offline-{{forloop.counter}}">
                    <div class="card-body">
                        Status: {{node.status}}<br/>
                        IP Address: {{node.ip}}<br/>
                        Access Port: {{node.port}}<br/>
                        UUID: {{node.nodeUUID}}<br/>
                        {% if node.comments != '' %}
                        Comments: node.comments
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if m_grp %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h3">Groups</h1>
        </div>
        {% for grp in m_grp %}
            <div class="card mt-2">
                <div class="card-header" id="heading-{{forloop.counter}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-{{forloop.counter}}">
                            {{grp.groupname}} ({{grp.node_count}} nodes)
                        </button>
                    </h2>
                </div>
                <div id="collapse-{{forloop.counter}}" class="collapse" aria-labelledby="heading-{{forloop.counter}}">
                    <div class="card-body">
                        Nodes: <br/>
                        <p style="margin-left:30px">
                        {% for node in grp.nodes.all %}
                            {% if node.status == 'Available' %}
                                <status-indicator positive pulse></status-indicator>
                            {% elif node.status == 'Busy' %}
                                <status-indicator intermediary pulse></status-indicator>
                            {% else %}
                                <status-indicator negative pulse></status-indicator>
                            {% endif %}
                            {{node.hostname}} @ {{node.ip}}:{{node.port}}
                            <br/>
                        {% endfor %}
                        </p>
                        Current Task: {{grp.currentTask}}<br/>
                        {% if grp.comments %}
                            Comments: {{grp.comments}}<br/>
                        {% endif %}
                        <br/>
                        <a href="/groups/{{grp.id}}/config">Configure...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if m_task%}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h3">Tasks</h1>
        </div>
        {% for task in m_task %}
            <div class="card border-success mt-2">
                <div class="card-header" id="heading-task-{{forloop.counter}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-task-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-task-{{forloop.counter}}">
                            {{task.taskName}}
                        </button>
                    </h2>
                </div>
                <div id="collapse-task-{{forloop.counter}}" class="collapse" aria-labelledby="heading-task-{{forloop.counter}}">
                    <div class="card-body">
                        Status: {{task.status}} <br/>
                        Creation Time: {{task.createTime}} <br/>
                        Start Time: {{task.startTime}} <br/>
                        Task UUID: {{task.taskUUID}} <br/>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% else %}
    <div class="alert alert-danger" role="alert">
        Your search did not match anything.
    </div>
{% endif %}
{% endblock content_accordion %}