{% extends 'base.html' %}
{% load ngutils %}

{% block titleheader %}
Upcoming Tasks
{% endblock titleheader %}

{% block navitems %}
<li class="nav-item">
<a class="nav-link" href="/dashboard">
  <span data-feather="home"></span>
  Dashboard
</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="/tasks">
  <span data-feather="clipboard"></span>
  Tasks  <span class="sr-only">(current)</span>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/groups">
  <span data-feather="package"></span>
  Groups
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/nodes">
  <span data-feather="git-commit"></span>
  Nodes
</a>
</li>
{% endblock navitems %}

{% block content_accordion %}
{% if scheduled_tasks %}
    {% for task in scheduled_tasks %}
        <div class="card border-success mt-2">
            <div class="card-header" id="heading-{{forloop.counter}}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-{{forloop.counter}}">
                        {{task.taskName}}
                    </button>
                </h2>
            </div>
            <div id="collapse-{{forloop.counter}}" class="collapse" aria-labelledby="heading-{{forloop.counter}}">
                <div class="card-body">
                    Status: {{task.status}} <br/>
                    Creation Time: {{task.createTime}} <br/>
                    Start Time: {{task.startTime}} <br/>
                    Task UUID: {{task.taskUUID}} <br/>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-danger" role="alert">
        There are no upcoming tasks.
    </div>
{% endif %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">In Progress Tasks</h1>
</div>
{% if in_progress %}
    {% for task in in_progress %}
        <div class="card border-warning mt-2">
            <div class="card-header" id="heading-prog{{forloop.counter}}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-prog{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-prog{{forloop.counter}}">
                        {{task.taskName}}
                    </button>
                </h2>
            </div>
            <div id="collapse-prog{{forloop.counter}}" class="collapse" aria-labelledby="heading-prog{{forloop.counter}}">
                <div class="card-body">
                    Status: {{task.status}} <br/>
                    Creation Time: {{task.createTime}} <br/>
                    Start Time: {{task.startTime}} <br/>
                    Duration: {{task.duration}} <br/>
                    Interval: {{task.interval}}s <br/>
                    Task UUID: {{task.taskUUID}} <br/>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if completed_tasks or failed_tasks %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Completed Tasks</h1>
</div>
    {% for task in completed_tasks %}
        <div class="card border-success mt-2">
            <div class="card-header" id="heading-comp{{forloop.counter}}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-comp{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-comp{{forloop.counter}}">
                        {{task.taskName}}
                    </button>
                </h2>
            </div>
            <div id="collapse-comp{{forloop.counter}}" class="collapse" aria-labelledby="heading-comp{{forloop.counter}}">
                <div class="card-body">
                    Status: {{task.status}} <br/>
                    Creation Time: {{task.createTime}} <br/>
                    Start Time: {{task.startTime}} <br/>
                    Task UUID: {{task.taskUUID}} <br/>
                    <a href="tasks/{{task.taskUUID}}/results" class="btn btn-primary btn-sm mt-3">View Results</a><br/>
                </div>
            </div>
        </div>
    {% endfor %}
    <br/>
    {% for task in failed_tasks %}
        <div class="card border-danger mt-2">
            <div class="card-header" id="heading-fail{{forloop.counter}}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-fail{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-fail{{forloop.counter}}">
                        {{task.taskName}}
                    </button>
                </h2>
            </div>
            <div id="collapse-fail{{forloop.counter}}" class="collapse" aria-labelledby="heading-fail{{forloop.counter}}">
                <div class="card-body">
                    Status: {{task.status}} <br/>
                    Creation Time: {{task.createTime}} <br/>
                    Start Time: {{task.startTime}} <br/>
                    Task UUID: {{task.taskUUID}} <br/>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock content_accordion %}